---
import HeroBase from '@/components/portfolio/ui/HeroBase.astro'

import type { Action } from '@/types/site'

// TODO Fix Contact Button href
// TODO Rewrite Subtitle

const actions: Action[] = [
  {
    variant: 'primary',
    text: 'Contact me',
    href: 'mailto:paintersrp@gmail.com',
    target: '_blank',
  },
  { text: 'View resume', href: '/resume' },
]
---

<HeroBase id="hero" class="pt-[72px]" {actions}>
  <Fragment slot="title">
    Hello ! My name is
    <br />
    <span class="text-primary dark:text-primary highlight"> Ryan Painter.</span>
  </Fragment>

  <Fragment slot="subtitle">
    Your friendly neighborhood developer, spinning up web solutions for your digital needs 🕸️
  </Fragment>
</HeroBase>
